.container-nav {
  display: flex;
  align-items: center;
  width: 65%;
  background: #665c84e8;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  margin-top: 16px;
  height: 30px;
  padding: 5px;
}
.controls {
  margin: 10px;
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: white;

}
.controls:hover{
  color: rgb(255, 238, 0);
}



.housesvg {
  margin: 3px;
}

@media (max-width: 907px){
  .container-nav{
    justify-content: center;
  }
  }