.container-home {
  height: auto;
  max-height: 400px; /* Establece una altura máxima */
  width: 65%;
  margin: 0 auto;
  margin-top: 18px;
  border-radius: 20px;
  box-shadow: 7px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 6px 13px 0px rgba(0, 0, 0, 0.75);
  background: #665c84ef;
}
@media (max-width: 1366px) {
  .container-home {
    width: 65%;
    max-height: none;
    overflow-y: scroll;
  }
  .marto {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 720px) {
  .container-home {
    width: 90%;
    max-height: none;
    overflow-y: scroll;
  }
  .marto {
    width: 200px;
    height: 200px;
  }
}

.scrollable-content {
  max-height: 200px; /* Establece una altura máxima para el contenido que se puede desbordar */
  overflow-y: auto; /* Añade scroll vertical si es necesario */
}
.marto {
  padding: 20px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: auto;
}
.cv {
  background-color: rgb(31, 31, 31);
  border: none;
  color: #a496d3;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}
.cv:hover{
  background-color: #a496d3;
  color: white;
  transition: 0.1s;
}

.header-main {
  display: flex;
  color: rgb(234, 234, 234);
}
.header-text {
  padding: 20px;
}
.header-text h1 {
  font-size: 40px;
}
.header-text p {
  font-size: 16px;
}
.header-text-pin {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 6px;
}
.open-to-work {
  margin-left: 4px;
  margin-top: 3px;
  font-style: italic;
  color: rgb(255, 238, 0);
}

.social-media {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 15px;
}
.github {
  width: 25px;
  margin-left: 4px;
}
.linkedin {
  width: 25px;
  margin-top: 1px;
}

.header-body {
  color: rgb(234, 234, 234);
  padding: 20px;
}
.header-body p {
  font-size: 16px;
}

