.container-skills {
  color: white;
  height: 360px;
  width: 65%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 20px;
  background: #242426f5;
}
.title {
  text-align: center;
  padding: 20px;
}
.skills-icons {
  margin-top: 10px;
}

@media (max-width: 907px) {
  .container-skills {
    height: auto;
    width: 90%;
    padding-bottom: 15px;
  }
  .skills-icons {
    padding: 2px;
  }
}
